.upload-field {
    border-radius: 8px;
    width: 50%;
    border: 2px dashed gray;
    padding: 1em 1.5em;
    box-sizing: border-box;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  .upload-field:hover {
    border-color: #646cff;
    background-color: rgb(31, 31, 31);
  }

.icon {
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
}

.text {
    margin-bottom: 0.5rem;
    font-size: small;
}

.additional-text {
    font-size: x-small;
}

#image-upload {
    visibility: hidden;
    position: absolute;
}